* {
    box-sizing: border-box;
}

#container{
    width: 770px;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    
}

#display_date{
    color: rgb(255, 111, 111);
    font-size: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prevPage{
    color: white;
    background-color: rgb(116, 116, 255);
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    outline: none;
}
#nextPage{
    color: white;
    background-color: rgb(116, 116, 255);
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#weekdays{
    display: flex;
    flex-wrap: wrap;
}

#days{
    color: rgb(62, 146, 255);
    width: 100px;
    margin: 5px;
    text-align: center;
}

#days:hover{
    background-color: rgb(149, 195, 255);
}

.bg{
    background-color: rgb(149, 195, 255);
}

#calendar{
    display: flex;
    flex-wrap: wrap;
}

.day{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.05rem 0.05rem 0.2rem 0.2rem rgb(104, 104, 104);
}
.nonday{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px 5px;
    
}